{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ bed_record.bed_number }} 
		{{ bed_record.room }}</strong>
  </div>
  <div class="card-body">


<p class="card-text">
  
<strong>Occupied Status: </strong>{{ bed_record.is_occupied}}</p>

<p class="card-text">
<strong>ID: </strong>{{ bed_record.id }}</p>
    
    
  </div>
</div>

<br/><br/>

<a href="{% url 'update_bed' bed_record.id %}" class="btn btn-primary">Update Record</a>

<a href="{% url 'delete_bed' bed_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'bed_table' %}" class="btn btn-secondary">Back</a>
		

{% endblock %}