{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Room Number</th>
      <th scope="col">Bed Number</th>
      <th scope="col">Occupied_Status</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    
{% if beds %}
	{% for bed in beds %}
		<tr>
			<td>{{ bed.room}}</td>
            <td>{{ bed.bed_number }}</td>
            <td>{{ bed.is_occupied }}</td>
			<td><a href="{% url 'bed' bed.id %}">{{ bed.id }}</a></td>
		</tr>
	{% endfor %}

	
	  </tbody>
	</table>
  {% endif %}
  
{% endif %}
{% endblock %}