{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Common Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Illness ID</th>
    </tr>
  </thead>
  <tbody>
    
{% if illnesss %}
	{% for illness in illnesss %}
		<tr>
			<td>{{ illness.common_name }}</td>
			<td>{{ illness.created_at }}</td>
			<td><a href="{% url 'illness' illness.id %}">{{ illness.id }}</a></td>
		</tr>
	{% endfor %}

	
	  </tbody>
	</table>
  {% endif %}
  
{% endif %}
{% endblock %}