{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ doctor_record.first_name }} 
		{{ doctor_record.last_name }}</strong>
  </div>
  <div class="card-body">


<p class="card-text">
<strong>Date of Birth: </strong>{{ doctor_record.DOB }}</p>

<p class="card-text">
<strong>Create At: </strong>{{ doctor_record.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ doctor_record.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'doctor_table' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_doctor' doctor_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_doctor' doctor_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}