<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Newark Medical Associates (CS631) </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <!-- Check if user is logged in before showing any management options-->
          {% if user.is_authenticated %}

          <!--If on homepage, show each of the 3 management centers-->
          {% if request.path == "/"%} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_management' %}">Patient Management</a>
            </li>
          
            <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_management' %}">In-Patient Management</a>
            </li>
          
            <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_management' %}">Medical Staff Management</a>
            </li>
            
            {% endif %}


          <!--Showcase patient_management options-->
          {% if request.path == "/patient_management/"%} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_table' %}">Patient Records</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_table' %}">Patient Records</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'doctor_table' %}">Doctor Records</a>
          </li>
          {% endif %}

          {% if request.path == "/patient_table/"%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_patient' %}">Add Patient Record</a>
          </li>
          {% endif %}

          {% if request.path == "/doctor_table/"%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_doctor' %}">Add Doctor Record</a>
          </li>
          {% endif %}

          <!--Showcase in-patient_management options-->
          {% if request.path == "/in-patient_management/"%} 
          {% endif %}


          <!--Showcase patient_management options-->
          {% if request.path == "/medical_staff_management/"%} 
          {% endif %}


          <!--show logout if logged in, as a last option across all url roots-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
  
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Login</a>
          </li>        
          {% endif %}
          
          
        </ul>
        
      </div>
    </div>
  </nav>